# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.history

.idea
.DS_Store
exportedData.csv
data1.csv
data2.csv
data3.csv
data4.csv
data5.csv

1_ambulancesResults.csv
2_ambulancesResults.csv
3_ambulancesResults.csv
4_ambulancesResults.csv
5_ambulancesResults.csv
6_ambulancesResults.csv